@use '../styles/Scss/variables.scss' as *;

.banner {
    height: 223px;
    border-radius: 25px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/Banner.svg');
    margin: auto;
    display: grid;
    place-items: center;
    margin-bottom: 43px;
    background-size: cover;

    &-default {
        height: 223px;
        border-radius: 25px;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/AboutBanner.svg');
        margin: auto;
        background-position: center;
        margin-bottom: 43px;
        background-size: cover;
    }

    & h1 {
        display: flex;
        flex-wrap: wrap;
        color: $secondary-color;
        font-weight: 500;
        font-size: 48px;
    }
}

@media screen and (width <=1024px) {
    .banner {
        margin-bottom: 22px;
        background-position: center;

        &-default {
            margin-bottom: 22px;
        }

        & h1 {
            font-size: 24px;
            padding-left: 16px;
        }
    }
}

@media screen and (width <=768px) {
    .banner {
        border-radius: 10px;

        &-default {
            border-radius: 10px;
        }
    }
}

@media screen and (width <=425px) {
    .banner {
        height: 111px;
        padding-right: 102px;
    }
}