@use '../styles/Scss/variables.scss' as *;

.description-panel {
    &__header {
        background-color: $primary-color;
        color: $secondary-color;
        border-radius: 10px;
        padding: 0.722em 0.5em 0.722em 1.111em;
        font-weight: 500;
        font-size: 18px;
        margin-top: 0;
        display: flex;
        justify-content: space-between;

        i {
            font-size: 32px;
            cursor: pointer;
        }

        span {
            align-self: center;
        }
    }

    &__content {
        background-color: $flatpage-background-description;
        border-radius: 10px;
        font-weight: 400;
        font-size: 18px;
        top: -30px;
        position: relative;
        z-index: -1;
        padding: 40px 12px 53px 20px;
        display: flex;
        flex-direction: column;
        color: $primary-color;
    }
}

@media screen and (width <=768px) {
    .description-panel {
        &__header {
            font-size: 13px;

            i {
                font-size: 16px;
            }
        }

        &__content {
            font-size: 12px;
            padding: 23px 6.91px 1.3px 11.51px
        }
    }
}