@use '../styles/Scss/variables.scss' as *;

.flat__container__description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 76px;
    overflow: hidden;
}

@media screen and (width <=768px) {
    .flat__container__description {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}