@use '../styles/Scss/variables.scss' as *;

.flat-page {
    color: $primary-color;

    &__title {
        font-weight: 500;
        font-size: 36px;
        margin-bottom: 0;
        margin-top: 0;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 1.111em;
    }

    & .flat__tags {
        display: flex;
        gap: 0.714rem;
        height: 25px;

        span {
            background-color: $primary-color;
            color: $secondary-color;
            font-weight: 500;
            font-size: 14px;
            border-radius: 10px;
            text-align: center;
            padding: 0.3em 0.5em;
            width: 115px;
        }
    }

    .flat__header {
        display: flex;
        margin-bottom: 26px;

        .flat__title {
            flex-grow: 1;
        }
        .flat__owner {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        .flat__owner__details {
            display: flex;
            justify-content: flex-end;
            h3 {
                margin-right: 0.556em;
                font-weight: 500;
                font-size: 18px;
                width: min-content;
                text-align: end;
                margin-top: 0;
                margin-bottom: 0;
                align-self: center;
            }
        }

        .flat__owner__badge {
            height: 64px;
            width: 64px;
            background: $flatpage-badge;
            border-radius: 50%;
        }

        .flat__owner__stars {
            display: flex;
            gap: 10px;
            font-size: 30px;
            color: $flatpage-stars-off;

            .on {
                color: $primary-color;
            }
        }
    }
}

@media screen and (width <= 768px) {
    .flat-page {
        &__title {
            font-size: 18px;
            margin-bottom: 5px;
        }

        &__subtitle {
            font-size: 14px;
            margin-bottom: 0.869em;
        }

        & .flat__tags {
            height: 18px;
            margin-bottom: 1.6em;

            span {
                font-size: 10px;
                width: 85px;
            }
        }

        .flat__header {
            flex-direction: column;
            margin-bottom: 16.5px;

            .flat__owner {
                justify-content: space-between;
                flex-direction: row;
            }

            .flat__owner__badge {
                height: 32px;
                width: 32px;
            }

            .flat__owner__details {
                order: 1;

                h3 {
                    font-size: 12px;
                }
            }

            .flat__owner__stars {
                font-size: 15px;
                align-items: center;
            }
        }
    }
}