.header {
    display: flex;
    align-items: center;
    margin: 40px 100px 63px;
}

.navbar {
    display: flex;
    align-items: center;
    color: #ff6060;
    font-weight: 500;
    font-size: 24px;
    gap: 57px;
}

.navbar__logo {
    margin-right: auto;
}

.navbar__logo img {
    height: 68px;
    width: 210.32154846191406px;
}

.navbarUnderline {
    text-decoration: underline;
}

@media screen and (width <= 375px) {
    .header {
        margin: 20px;
    }
    .navbar {
        font-size: 12px;
        gap: 10px;
    }
    .navbar__logo img {
        height: 47px;
        width: 145px;
    }
}
