$primary-color: #ff6060;
$secondary-color: white;
$background-gallery-D: #f7f7f7;
$background-gallery-M: white;
$background-footer: black;
$flatpage-badge: #C4C4C4;
$flatpage-stars-off:#E3E3E3;
$flatpage-background-description: #f7f7f7;
